* {
  margin: 0rem;
  padding: 0rem;
  box-sizing: border-box;
}

body{
  font-size: 1rem;
  background-color: black;
}

#container {
  width: 80%;
  margin: 1rem auto;
  padding: 0.5rem auto;
  background-color: red;
  display: flex;
  gap: 0.5rem;
}